<% provide(:title, "About") %>
<h1>About</h1>
<p>This is a demo application, built mainly using Ruby on Rails and Bootstrap. You can view the code at my <a href="http://github.com/jmslxndr" target-"_blank">GitHub</a></p>
<br/><br/>
A big thanks to Michael Hartl and <a href="https://www.railstutorial.org/" target="_blank">his Rails tutorial</a>.